@import "../../styling/alignments.scss";
@import "../../styling/colors.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;

  &Marged {
    @include marged(top, l);
  }
}

.matchContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: $match-container-height;
  position: relative;
  width: 100%;

  &Expandable {
    cursor: pointer;
  }
}

.expandedContainer {
  @include aligned(center);
  @include bg-rgba-colored($color-grey1, 0.9);
  @include flex-aligned(flex-start, center);
  @include shadowed($color-black, 0.2);

  border-radius: $border-radius;
  border-top-left-radius: 0;
  flex-direction: column;

  &Open {
    @include marged(top, s2);

    max-height: 5000px;
    opacity: 1;
    transition: max-height $transition-time ease-in, margin $transition-time ease-in, opacity $transition-time ease-in;
  }

  &Closed {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height $transition-time ease-out, margin $transition-time ease-out, opacity $transition-time ease-in;
  }
}

.matchStatusMobile {
  @include font-sized(s2);

  bottom: 0;
  position: absolute;
  right: 50%;
  transform: translate(50%, 20%);
  transition: color $transition-time;
  z-index: $absolute-visible;

  &Loading {
    @include font-colored($color-grey5);
    animation: rotateMobile 1s ease-in-out infinite;
  }

  &Empty {
    @include font-colored($color-orange);
  }

  &Error {
    @include font-colored($color-qatar-red);
  }

  &Check {
    @include font-colored($color-mint);
  }

  @keyframes rotateMobile {
    100% {
      transform: translate(50%, 20%) rotate(360deg);
    }
  }
}

.matchStatus {
  @include aligned(center);
  @include font-sized(m);
  @include padded(horizontal, s2);

  bottom: 2px;
  position: absolute;
  transition: color $transition-time;
  width: $clock-width;
  z-index: $absolute-visible;

  &Loading {
    @include font-colored($color-grey5);
    animation: rotateDesktop 1s ease-in-out infinite;
  }

  &Empty {
    @include font-colored($color-orange);
  }

  &Error {
    @include font-colored($color-qatar-red);
  }

  &Check {
    @include font-colored($color-mint);
  }

  @keyframes rotateDesktop {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}
