@import "../../styling/alignments.scss";
@import "../../styling/colors.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  width: 100%;
}

.matchContainer {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: $match-container-height;
  position: relative;
  width: 100%;
  transition: filter $transition-time;

  &:hover {
    filter: brightness(90%);
    transition: filter $transition-time;
  }

  &Expandable {
    cursor: pointer;
  }
}

.expandedContainer {
  @include aligned(center);
  @include bg-rgba-colored($color-grey1, 0.9);
  @include flex-aligned(flex-start, center);
  @include shadowed(0.2);

  border-radius: $border-radius;
  border-top-left-radius: 0;
  flex-direction: column;

  &Open {
    @include marged(top, s2);

    max-height: 500px;
    transition: max-height $transition-time ease-in, margin $transition-time ease-in;
  }

  &Closed {
    max-height: 0;
    overflow: hidden;
    transition: max-height $transition-time ease-out, margin $transition-time ease-out;
  }
}
