@import "../../styling/alignments.scss";
@import "../../styling/colors.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.container {
  @include flex-aligned(center, center);

  position: relative;
  text-transform: uppercase;
  width: 100%;

  &Small {
    @include font-sized(m);
    @include padded(horizontal, m);
    @include padded(vertical, s1);
  }

  &Medium {
    @include font-sized(m);
    @include padded(horizontal, l1);
    @include padded(vertical, m);
  }

  &Large {
    @include font-sized(l);
    @include padded(horizontal, l3);
    @include padded(vertical, l1);
  }
}

.enabled {
  cursor: pointer;
  filter: brightness(90%);
  transition: all 0.3s ease-in-out;

  &:hover {
    filter: brightness(100%);
  }

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 10px black;
  }

  &:active:after {
    box-shadow: 0 0 0 0 black;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
  }

  &Dark {
    @extend .enabled;
    &:after {
      box-shadow: 0 0 10px 10px $color-grey2;
    }
    &:active:after {
      box-shadow: 0 0 0 0 $color-grey2;
    }
  }

  &Light {
    @extend .enabled;
    &:after {
      box-shadow: 0 0 10px 10px $color-grey5;
    }
    &:active:after {
      box-shadow: 0 0 0 0 $color-grey5;
    }
  }
}

.selected {
  filter: brightness(100%);
}

.disabled {
  filter: brightness(50%);
  cursor: not-allowed;

  &:hover {
    filter: brightness(50%);
  }
}

.rounded {
  border-radius: 4px;

  &:after {
    border-radius: 4px;
  }
  &:active:after {
    border-radius: 4px;
  }
}

.shadowed {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.children {
  @include flex-aligned(center, center);
}

.icon {
  @include flex-aligned(center, center);

  &Left {
    @include padded(right, m);
  }

  &Right {
    @include padded(left, m);
  }
}

.primary {
  @include bg-colored($color-blue);
  @include font-colored($color-white);

  border: none;
  // &:hover {
  //   background-color: $color-blue;
  // }
}

.danger {
  @include bg-colored($color-red);
  @include font-colored($color-white);

  border: none;
  // &:hover {
  //   background-color: $color-red;
  // }
}

.warning {
  @include bg-colored($color-orange);
  @include font-colored($color-white);

  border: none;
  // &:hover {
  //   background-color: $color-orange;
  // }
}

.confirm {
  @include bg-colored($color-green);
  @include font-colored($color-white);

  border: none;
  // &:hover {
  //   @include bg-colored($color-green);
  // }
}

.neutral {
  @include bg-colored($color-grey3);
  @include font-colored($color-white);
  border: none;

  // &:hover {
  //   @include bg-colored($color-grey3);
  // }
}
