@use "../../styling/colors.scss" as colors;
@use "../../styling/color_utils.scss" as color_utils;

@import "../../styling/alignments.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.badge {
  border-radius: 50%;
  height: 8px;
  min-width: 8px;
  overflow: visible;
  position: relative;
  width: 8px;

  &Online {
    @extend .badge;
    background-color: colors.$mint;
    color: colors.$mint;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      animation: ripple 2s infinite ease-in-out;
      border: 1px solid;
      content: "";
    }
  }

  &Offline {
    @extend .badge;

    background-color: colors.$grey3;
    color: colors.$red;
    opacity: 0.6;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0.8);
    opacity: 1;
  }
  100% {
    transform: scale(2.4);
    opacity: 0;
  }
}
