@use "../../styling/colors.scss" as colors;
@use "../../styling/colors_fifa.scss" as colors_fifa;
@use "../../styling/colors_valeo.scss" as colors_valeo;
@use "../../styling/color_utils.scss" as color_utils;

@import "../../styling/alignments.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.navButton {
  @include font-sized(navbar-button);
  @include padded(all, s);
  @include marged(horizontal, s3);

  border-radius: 16px;
  height: 100%;

  &Flexed {
    flex: 1;
  }

  &Disabled {
    color: colors.$color-grey3;
    cursor: not-allowed;
    pointer-events: all !important;
  }
}

.navButtonCopa {
  @extend .navButton;

  &Shadowed {
    @include color_utils.shadowed(colors.$grey3, 0.2);
  }

  &Enabled {
    color: colors.$color-grey4;
    transition: background-color $transition-time, color $transition-time;
    cursor: pointer;

    &Selected {
      color: colors_fifa.$qatar-red;
    }

    &:hover {
      background-color: colors.$color-grey2;
      transition: background-color $transition-time, color $transition-time;
    }
  }
}

.navButtonValeo {
  @extend .navButton;

  &Shadowed {
    @include color_utils.shadowed(colors.$grey3, 0.2);
  }

  &Enabled {
    background-color: transparent;
    color: colors.$grey3;

    transition: color $transition-time;
    cursor: pointer;

    &Selected {
      color: colors_valeo.$tiffany;
    }

    &:hover {
      color: colors.$grey4;
      transition: color $transition-time;
    }
  }
}
