@import "../../styling/alignments.scss";
@import "../../styling/colors.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/global.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.container {
  @include font-sized(l);
  @include marged(horizontal, s3);
  @include flex-aligned(flex-start, center);

  border-radius: $border-radius;
  flex: 1;
  overflow: hidden;
  position: relative;
  transition: filter $transition-time, box-shadow $transition-time;

  &Selected {
    @include shadowed($color-black, 1);
  }

  &Hoverable {
    cursor: pointer;

    &:hover {
      filter: brightness(110%);
    }
  }

  &Big {
    height: 60px;
  }

  &Small {
    height: 45px;
  }

  &BottomLeft {
    border-bottom-left-radius: 0;
  }
  &BottomRight {
    border-bottom-right-radius: 0;
  }
  &TopRight {
    border-top-right-radius: 0;
  }
  &TopLeft {
    border-top-left-radius: 0;
  }
}

.logoContainer {
  flex: 1;

  .logo {
    filter: drop-shadow(0px 0px 10px #222);
    left: 15%;
    max-height: 50px;
    max-width: 50px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.nameContainer {
  @include padded(horizontal, m);
  z-index: $absolute-visible;
}

.name {
  &Big {
    @include font-sized(l2);
  }
  &Small {
    @include font-sized(s);
    @include padded(left, l4);

    font-size: 14px;
    text-align: right;
  }
}
