@use "../../styling/colors.scss" as colors;
@use "../../styling/color_utils.scss" as color_utils;

@import "../../styling/alignments.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.container {
  @include padded(all, m);

  bottom: 4px;
  border-radius: $border-radius;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);

  position: fixed;
  width: 90vw;
  z-index: 99999;

  .xButton {
    @include font-sized(l2);
    @include padded(horizontal, s);

    color: colors.$grey2;
    cursor: pointer;
    font-weight: bold;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);

    &:hover {
      color: colors.$white;
    }
  }
}

.red {
  background-color: rgba(colors.$red, 0.9);
  color: colors.$white;
}

.green {
  background-color: rgba(colors.$green, 0.9);
  color: colors.$white;
}

.grey {
  background-color: rgba(colors.$grey4, 0.9);
  color: colors.$white;
}
