@use "../../styling/colors.scss" as colors;
@use "../../styling/colors_fifa.scss" as colors_fifa;
@use "../../styling/color_utils.scss" as color_utils;

@import "../../styling/alignments.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.container {
  @include flex-aligned(center, center);
  @include padded(bottom, m);

  flex-wrap: wrap;
}

.selectorItem {
  @include aligned(center);
  @include flex-aligned(center, center);
  @include marged(all, s2);
  @include padded(horizontal, s2);

  background-color: colors.$grey1;
  border-radius: $border-radius;
  color: colors.$grey4;
  cursor: pointer;
  font-weight: bold;
  transition: background-color $transition-time, color $transition-time, box-shadow $transition-time;

  &Small {
    height: $selector-height;
    width: $selector-width;
  }

  &Big {
    height: calc($selector-height + 10px);
    width: calc($selector-width + 20px);
  }

  &:hover {
    -webkit-box-shadow: inset 0px 0px 0px 2px colors.$grey3;
    box-shadow: inset 0px 0px 0px 2px colors.$grey3;
    background-color: rgba(colors.$grey1, 0.6);
  }

  &Selected {
    -webkit-box-shadow: inset 0px 0px 0px 2px colors_fifa.$qatar-red;
    box-shadow: inset 0px 0px 0px 2px colors_fifa.$qatar-red;
    background-color: rgba(colors_fifa.$qatar-red, 0.6);
    color: colors.$grey1;
  }

  &:nth-child(4n + 1) {
    border-bottom-left-radius: 0;
  }
  &:nth-child(4n + 2) {
    border-bottom-right-radius: 0;
  }
  &:nth-child(4n + 3) {
    border-top-right-radius: 0;
  }
  &:nth-child(4n + 4) {
    border-top-left-radius: 0;
  }
}
