@use "../../styling/colors.scss" as colors;
@use "../../styling/color_utils.scss" as color_utils;
@use "../../styling/colors_fifa.scss" as colors_fifa;
@use "../../styling/colors_valeo.scss" as colors_valeo;

@import "../../styling/alignments.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.container {
  @include color_utils.shadowed(colors.$black, 0.2);
  @include font-sized(l2);
  @include flex-aligned(center, center);

  background-color: colors.$grey1;
  flex-direction: column;
  height: 100vh;
  left: 0;
  position: sticky;
  top: 0;
  max-width: 60vw;
  z-index: $always-on-top + 1;

  &Open {
    margin-left: 0;
    transition: margin $transition-time;
  }

  &Closed {
    margin-left: -50%;
    transition: margin $transition-time;
  }
}

.logoContainer {
  @include flex-aligned(center, flex-start);
  @include padded(vertical, s);

  flex: 0;
  max-width: 100px;
  max-height: 100px;

  .logo {
    height: 100%;
    width: auto;
  }
}

.nav {
  @include padded(vertical, l);
  @include padded(horizontal, l);
  @include flex-aligned(center, flex-start);
  flex: 1;
  flex-direction: column;

  button,
  input[type="submit"],
  input[type="reset"] {
    border: none;
    cursor: pointer;
    outline: inherit;
  }
}

.navButton {
  @include padded(all, m);

  background-color: colors.$grey1;
  border-radius: 16px;
  color: colors.$grey4;
  font: inherit;
  transition: background-color $transition-time, color $transition-time;
  width: 100%;
}

.navButtonCopa {
  @extend .navButton;

  &Selected {
    color: colors_fifa.$qatar-red;
  }

  &:hover {
    background-color: colors.$grey2;
    transition: background-color $transition-time, color $transition-time;
  }
}

.navButtonNfl {
  @extend .navButton;

  &Selected {
    color: colors.$navy;
  }

  &:hover {
    background-color: colors.$grey2;
    transition: background-color $transition-time, color $transition-time;
  }
}

.navButtonValeo {
  @extend .navButton;

  &Selected {
    color: colors_valeo.$tiffany;
  }

  &:hover {
    color: colors.$grey4;
    transition: color $transition-time;
  }
}

.bottom {
  @include flex-aligned(center, flex-start);
  @include padded(vertical, s);

  flex: 0;
}
