@import "../../styling/alignments.scss";
@import "../../styling/colors.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.container {
  @include shadowed($color-black, 0.3);
  @include padded(all, l);
  @include flex-aligned(flex-start, flex-start);
  @include bg-rgba-colored($color-grey1, 0.5);

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  border-radius: $border-radius;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;

  &BottomLeft {
    border-bottom-left-radius: 0;
  }
  &BottomRight {
    border-bottom-right-radius: 0;
  }
  &TopRight {
    border-top-right-radius: 0;
  }
  &TopLeft {
    border-top-left-radius: 0;
  }
}
