@import "../../styling/alignments.scss";
@import "../../styling/colors.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.container {
  @include font-sized(l);
  @include marged(horizontal, s3);

  border-radius: $border-radius;
  flex: 1;
  height: $match-container-height;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &Left {
    @extend .container;
    @include flex-aligned(flex-start, center);
  }
  &Right {
    @extend .container;
    @include flex-aligned(flex-end, center);
  }
}

.logoContainer {
  flex: 1;

  .logo {
    filter: drop-shadow(0px 0px 10px #222);
    position: absolute;
    top: 50%;
    z-index: $hidden-z;
    height: 90px;
    width: auto;

    &Left {
      @extend .logo;
      left: 15%;
      transform: translateX(-50%) translateY(-50%);
    }

    &Right {
      @extend .logo;
      transform: translateX(50%) translateY(-50%);
      right: 15%;
    }
  }
}

.scoreContainer {
  @include bg-rgba-colored($color-black, 0.2);
  @include flex-aligned(center, center);
  @include font-sized(l3);

  height: 100%;
  transition: background-color $transition-time;
  width: 50px;

  &Null {
    @extend .scoreContainer;
    @include bg-rgba-colored($color-black, 0.5);
    transition: background-color $transition-time;
  }
}

.nameContainer {
  @include font-sized(l2);
  @include padded(horizontal, m);
}

.form {
  @include padded(horizontal, s3);
}

input {
  all: unset;
  @include aligned(center);
  border-bottom: 2px solid white;
  width: 36px;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
