@use "../../styling/colors.scss" as colors;
@use "../../styling/color_utils.scss" as color_utils;

@import "../../styling/alignments.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.cardContainer {
  @include color_utils.shadowed(colors.$black, 0.3);
  @include flex-aligned(center, center);

  border-radius: $border-radius;
  border-bottom-left-radius: 0px;
  cursor: pointer;
  flex-direction: column;
  transition: filter $transition-time, background-color $transition-time, box-shadow $transition-time;
  width: 100%;

  &:hover {
    @include color_utils.shadowed(colors.$black, 0.5);
  }
}

.card {
  @include flex-aligned(center, center);

  background-color: rgba(colors.$grey2, 0.6);
  border-radius: $border-radius;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  color: colors.$grey5;
  flex-direction: column;
  height: 60px;
  transition: filter $transition-time, background-color $transition-time;
  width: 100%;

  .title {
    @include marged(all, none);
    @include padded(horizontal, s);
    @include aligned(center);

    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    flex-direction: column;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;

    &Mobile {
      @include font-sized(l);
    }

    &Desktop {
      @include font-sized(l3);
    }
  }

  .subtitle {
    @include font-sized(s);
    @include marged(vertical, s2);
  }

  &Selected {
    background-color: rgba(colors.$grey3, 0.6);
  }
}

.status {
  @include flex-aligned(center, center);
  @include padded(horizontal, s2);
  @include padded(vertical, s2);

  background-color: rgba(colors.$grey1, 0.4);
  border-bottom-right-radius: $border-radius;
  box-sizing: border-box;
  flex: 0;
  min-height: 60px;
  width: 100%;
}
