import React from 'react';

import classNames from 'classnames';
import { {{pascalCase name}}Props } from './types';
import styles from './styles.module.scss';

export const {{pascalCase name}} = () => (
  <container>
    <h1>{{pascalCase name}}</h1>
  </container>
);
