@use "../../styling/colors.scss" as colors;
@use "../../styling/colors_fifa.scss" as colors_fifa;
@use "../../styling/color_utils.scss" as color_utils;

@import "../../styling/alignments.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.modal {
  @include color_utils.shadowed(colors.$black, 0.2);
  @include padded(all, none);

  position: relative;
  background-color: colors.$grey1;

  &PaddedContent {
    @include padded(horizontal, l2);
    @include padded(vertical, l);
  }

  &Rounded {
    border-radius: $border-radius;
    border-top-right-radius: 0;
  }

  &Content {
    position: relative;
    overflow-y: auto;

    &Small {
      height: 60vh;
      max-width: 60vw;
    }

    &Medium {
      height: 70vh;
      max-width: 70vw;
    }

    &Big,
    &MobileSmall {
      height: 80vh;
      max-width: 80vw;
    }

    &MobileMedium {
      height: 90vh;
      max-width: 90vw;
    }

    &MobileBig {
      height: 96vh;
      max-width: 95vw;
    }
  }

  .interactiveIcon {
    cursor: pointer;
    position: absolute;

    &Close {
      @extend .interactiveIcon;
      @include padded(all, m);

      background-color: rgba(colors.$black, 0.5);
      border-bottom-left-radius: $border-radius;
      color: colors.$grey1;
      cursor: pointer;
      right: 0;
      top: 0;
      transition: background-color $transition-time;

      &:hover {
        background-color: rgba(colors_fifa.$qatar-red, 1);
      }
    }

    &Previous {
      @extend .interactiveIcon;

      // Positioning
      align-items: center;
      display: flex;
      justify-content: center;
      bottom: 0;
      top: 0;
      left: 0;

      background-image: linear-gradient(to left, transparent, rgba(colors.$black, 0.5));
      color: colors.$grey2;
      width: 30px;
      transition: background-image $transition-time, color $transition-time;

      &:hover {
        background-image: linear-gradient(to left, transparent, rgba(colors.$black, 0.6));
        color: colors.$white;
      }

      &Padded {
        bottom: 16px;
        top: 16px;
        left: 20px;
      }
    }

    &Next {
      @extend .interactiveIcon;

      // Positioning
      align-items: center;
      display: flex;
      justify-content: center;
      bottom: 0;
      top: 0;
      right: 0;

      background-image: linear-gradient(to right, transparent, rgba(colors.$black, 0.5));
      color: colors.$grey2;
      width: 30px;
      transition: background-image $transition-time;

      &Padded {
        bottom: 16px;
        top: 16px;
        right: 20px;
      }

      &:hover {
        background-image: linear-gradient(to right, transparent, rgba(colors.$black, 0.6));
        color: colors.$white;
      }
    }
  }

  h1,
  h2 {
    @include aligned(center);

    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h1 {
    @include font-sized(l4);
    @include padded(all, none);
    @include marged(all, none);
  }

  h2 {
    @include font-sized(l2);
    @include padded(all, none);
    @include marged(all, none);
  }

  img {
    object-fit: cover;
    vertical-align: middle;
  }
}
