@import "../../styling/alignments.scss";
@import "../../styling/colors.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.modal {
  @include bg-colored($color-grey1);
  @include padded(horizontal, l2);
  @include padded(vertical, l);
  @include shadowed($color-black, 0.2);

  border-radius: $border-radius;
  border-top-right-radius: 0;
  position: relative;

  &Content {
    @include padded(top, l);
    overflow-y: auto;

    &Big {
      height: auto;
      max-height: 700px;
      width: 700px;
    }

    &Small {
      height: auto;
      max-height: 600px;
      width: 500px;
    }

    &Mobile {
      height: auto;
      max-height: 80vh;
      width: 80vw;
    }
  }

  .closeIcon {
    @include bg-rgba-colored($color-black, 0.5);
    @include font-colored($color-grey1);
    @include padded(all, m);

    border-bottom-left-radius: $border-radius;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color $transition-time;

    &:hover {
      @include bg-rgba-colored($color-qatar-red, 1);
    }
  }

  h1,
  h2 {
    @include aligned(center);

    font-weight: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  h1 {
    @include font-sized(l4);
    @include padded(all, none);
    @include marged(all, none);
  }

  h2 {
    @include font-sized(l2);
    @include padded(all, none);
    @include marged(all, none);
  }
}
