$absolute-visible: 1;
$always-on-top: 10;
$border-radius: 16px;
$card-width: 300px;
$card-width-mobile: 150px;
$clock-width: 54px;
$hidden-z: -1;
$match-container-height: 60px;
$selector-height: 50px;
$selector-width: 80px;
$title-container-height: 70px;
$transition-time: 0.4s;


// Horizontal most common options
// - center
// - flex-start
// - flex-end
// - space-between

// Vertical most common options
// - center
// - flex-start
// - flex-end
// - baseline

@mixin flexed($size) {
  flex: #{$size};
}

@mixin flex-aligned($horizontal, $vertical) {
  display: flex;
  align-items: $vertical;
  justify-content: $horizontal;
}

@mixin aligned($horizontal) {
  text-align: $horizontal;
}
