@mixin shadowed($color, $opacity) {
  -webkit-box-shadow: 0px 0px 15px 1px rgba($color, $opacity);
  box-shadow: 0px 0px 15px 1px rgba($color, $opacity);
}

@mixin drop-shadowed() {
  filter: drop-shadow(10px 10px 20px #222);
  text-shadow: 2px 2px 5px #222, -2px -2px 5px #222;
}
