body {
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

input {
  all: unset;
}

input[type="number"]::-webkit-inner-spin-button {
  // For all decent browsers
  -webkit-appearance: none;
}
input[type="number"] {
  // For the little snow flake of a Firefox
  -moz-appearance: textfield;
}

button,
input[type="submit"],
input[type="reset"] {
  font-family: "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  // color: inherit;
  border: none;
  cursor: pointer;
  outline: inherit;
}
