@use "./spacings" as spacing;

@each $name, $pixels in spacing.$spacings {
  .top-padding-#{$name} {
    padding-top: #{$pixels};
  }
}

@each $name, $pixels in spacing.$spacings {
  .left-padding-#{$name} {
    padding-left: #{$pixels};
  }
}

@each $name, $pixels in spacing.$spacings {
  .right-padding-#{$name} {
    padding-right: #{$pixels};
  }
}

@each $name, $pixels in spacing.$spacings {
  .bottom-padding-#{$name} {
    padding-bottom: #{$pixels};
  }
}

@each $name, $pixels in spacing.$spacings {
  .all-padding-#{$name} {
    padding: #{$pixels};
  }
}

@mixin padded($direction, $size) {
  @if $direction == top {
    @extend .top-padding-#{$size};
  } @else if $direction == right {
    @extend .right-padding-#{$size};
  } @else if $direction == bottom {
    @extend .bottom-padding-#{$size};
  } @else if $direction == left {
    @extend .left-padding-#{$size};
  } @else if $direction == vertical {
    @extend .top-padding-#{$size};
    @extend .bottom-padding-#{$size};
  } @else if $direction == horizontal {
    @extend .left-padding-#{$size};
    @extend .right-padding-#{$size};
  } @else if $direction == all {
    @extend .all-padding-#{$size};
  }
}
