$border-radius: 16px;
$transition-time: 0.4s;
$hidden-z: -1;
$always-on-top: 10;
$match-container-height: 60px;
$clock-width: 54px;

// Horizontal most common options
// - center
// - flex-start
// - flex-end
// - space-between

// Vertical most common options
// - center
// - flex-start
// - flex-end
// - baseline

@mixin flexed($size) {
  flex: #{$size};
}

@mixin flex-aligned($horizontal, $vertical) {
  display: flex;
  align-items: $vertical;
  justify-content: $horizontal;
}

@mixin aligned($horizontal) {
  text-align: $horizontal;
}
