body {
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

input {
  all: unset;
}

input[type="number"]::-webkit-inner-spin-button {
  // For all decent browsers
  -webkit-appearance: none;
}
input[type="number"] {
  // For the little snow flake of a Firefox
  -moz-appearance: textfield;
}
