$margins: (
    "none": 0px,
    "xxs": 2px,
    "xs": 4px,
    "s": 8px,
    "m": 12px,
    "l": 16px,
    "xl": 25px,
    "xxl": 50px,
);

@each $name, $pixels in $margins {
    .top-margin-#{$name} {
        margin-top: #{$pixels};
    }
}

@each $name, $pixels in $margins {
    .left-margin-#{$name} {
        margin-left: #{$pixels};
    }
}

@each $name, $pixels in $margins {
    .right-margin-#{$name} {
        margin-right: #{$pixels};
    }
}

@each $name, $pixels in $margins {
    .bottom-margin-#{$name} {
        margin-bottom: #{$pixels};
    }
}

@each $name, $pixels in $margins {
    .margin-#{$name} {
        margin: #{$pixels};
    }
}

@mixin marged($direction, $size) {
    @if $direction == top {
        @extend .top-margin-#{$size};
    } @else if $direction == right {
        @extend .right-margin-#{$size};
    } @else if $direction == bottom {
        @extend .bottom-margin-#{$size};
    } @else if $direction == left {
        @extend .left-margin-#{$size};
    } @else {
        @extend .margin-#{$size}
    }
}
  