@use "../../styling/colors.scss" as colors;
@use "../../styling/colors_fifa.scss" as colors_fifa;
@use "../../styling/colors_valeo.scss" as colors_valeo;
@use "../../styling/color_utils.scss" as color_utils;

@import "../../styling/alignments.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.navContainer {
  @include padded(vertical, s);
  @include padded(horizontal, s);

  overflow: hidden;
  z-index: $always-on-top;

  &Tall {
    height: 64px;
  }

  &Slim {
    height: 32px;
  }

  &BlackShadow {
    @include color_utils.shadowed(colors.$black, 0.2);
  }

  &WhiteShadow {
    @include color_utils.shadowed(colors.$white, 0.2);
  }

  &Rounded {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  &Sticky {
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  &Copa {
    background-color: colors.$grey1;
  }

  &NFL {
    background-color: colors.$navy;
  }

  &Valeo {
    background-color: rgba(colors.$white, 0.95);
  }
}

.container {
  @include font-sized(l2);
  @include marged(all, zero);

  display: flex;
  height: 100%;
}

.logo {
  @include padded(horizontal, s);

  flex: 0;
  height: 100%;
  width: auto;
}

.buttonContainer {
  &Left {
    @include flex-aligned(flex-start, center);
    flex: 1;
  }

  &Right {
    @include flex-aligned(flex-end, center);
  }
}
