@import "../../styling/alignments.scss";
@import "../../styling/colors.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.navContainer {
  @include padded(vertical, s);
  @include padded(horizontal, s);
  @include shadowed($color-black, 0.2);

  height: 64px;
  overflow: hidden;
  z-index: $always-on-top;

  &Sticky {
    align-self: flex-start;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  &Copa {
    @include bg-colored($color-grey1);
  }

  &NFL {
    @include bg-colored($color-navy);
  }
}

.container {
  @include font-sized(l2);
  @include marged(all, zero);

  display: flex;
  height: 100%;
}

.logo {
  @include padded(horizontal, s);

  flex: 0;
  height: 100%;
  width: auto;
}

.buttonContainer {
  @include padded(horizontal, s);

  display: flex;
  flex: 1;

  // button {
  //   @include padded(horizontal, m);
  //   @include marged(horizontal, s3);
  //   // @include bg-colored($color-grey1);

  //   border-radius: 16px;
  //   height: 100%;
  //   transition: all $transition-time;
  // }

  button,
  input[type="submit"],
  input[type="reset"] {
    // color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
  }

  &Left {
    @include flex-aligned(flex-start, center);
  }

  &Right {
    @include flex-aligned(flex-end, center);
  }

  &Copa {
    @extend .buttonContainer;

    .navButton {
      @include font-colored($color-grey4);
      @include padded(horizontal, m);
      @include marged(horizontal, s3);

      font: inherit;
      border-radius: 16px;
      height: 100%;
      transition: all $transition-time;

      &Selected {
        @include font-colored($color-qatar-red);
      }

      &:hover {
        @include bg-colored($color-grey2);

        transition: all $transition-time;
      }
    }
  }
}
