@use "../../styling/colors.scss" as colors;
@use "../../styling/colors_fifa.scss" as colors_fifa;
@use "../../styling/color_utils.scss" as color_utils;

@import "../../styling/alignments.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.dateContainer {
  @include padded(horizontal, s2);
  @include marged(right, s3);

  &Desktop {
    @extend .dateContainer;

    height: $match-container-height;
    border-radius: $border-radius;
    border-bottom-left-radius: 0;
    position: relative;
    width: $clock-width;
  }

  &Mobile {
    @extend .dateContainer;

    border-radius: $border-radius;
    left: 10px;
    position: absolute;
    top: -16px;
    width: 100px;
  }

  .info {
    &Desktop {
      @include flex-aligned(center, center);
      height: 36px; //Without grey area
    }

    &Mobile {
      @include flex-aligned(space-evenly, flex-start);
      height: 36px;
    }

    &Date {
      @include font-sized(m);

      color: colors.$grey5;
      font-weight: bold;
    }

    &Clock {
      @include font-sized(m);

      &Desktop {
        @include font-sized(l);
        flex-direction: column;
      }

      &Mobile {
        @include font-sized(s);
        flex-direction: row;
      }

      &Status {
        @include font-sized(s);
      }

      &Animated {
        color: colors_fifa.$qatar-red;
        animation: pulse 2s ease-in-out infinite;
      }
    }
  }
}

.toggle {
  @include font-sized(l2);
  @include flex-aligned(center, center);

  border-bottom-right-radius: $border-radius;
  bottom: 0px;
  color: colors.$white;
  height: 24px;
  left: 0px;
  position: absolute;
  transition: filter $transition-time;
  width: 100%;

  &Neutral {
    background-color: rgba(colors.$black, 0.5);
  }

  &Green {
    background-color: rgba(colors.$mint, 0.6);
  }

  &Blue {
    background-color: rgba(colors_fifa.$qatar-blue, 0.6);
  }

  &LightBlue {
    background-color: rgba(colors_fifa.$qatar-lightblue, 0.6);
  }

  &Yellow {
    background-color: rgba(colors.$gold, 0.6);
  }

  &Red {
    background-color: rgba(colors_fifa.$qatar-red, 0.6);
  }
}

@keyframes pulse {
  0% {
    filter: brightness(80%);
  }

  50% {
    filter: brightness(150%);
  }

  100% {
    filter: brightness(80%);
  }
}
