@use "../../styling/colors.scss" as colors;
@use "../../styling/color_utils.scss" as color_utils;

@import "../../styling/alignments.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.overlay {
  @include padded(all, none);

  position: absolute;
  max-height: 100vh;
  overflow: hidden;
  z-index: 999;
}

.container {
  @include flex-aligned(center, center);

  flex-direction: column;
  flex: 1;

  &Regular {
    @extend .container;
    @include padded(all, l3);
  }
}

.image {
  @include padded(left, l3);
  @include padded(right, l3);

  width: auto;

  &Shadowed {
    @include color_utils.drop-shadowed;
  }

  &Regular {
    @extend .image;
    max-height: 100px;
  }

  &Small {
    @extend .image;
    max-height: 50px;
  }

  &Headbutt {
    animation: headbutt 3s ease-in infinite;
  }

  &Spin {
    animation: spin 2s ease-in-out infinite;
  }
}

.text {
  @include font-sized(l3);
  @include padded(all, none);
  @include marged(all, none);

  color: colors.$grey2;

  &Shadowed {
    @include color_utils.drop-shadowed;
  }

  &Headbutt {
    animation: headbuttText 3s ease-in-out infinite;
  }
}

@keyframes headbutt {
  20% {
    transform: translate(-25px, 0) rotate(35deg);
  }

  40% {
    transform: translate(-40px, 0) rotate(45deg);
  }

  70% {
    transform: translate(-50px, 0) rotate(50deg);
  }

  80% {
    transform: translate(64px, 0) rotate(60deg);
  }
}

@keyframes headbuttText {
  80% {
    transform: translate(0, 0);
  }
  84% {
    transform: translate(30px, 0);
  }
  90%,
  94% {
    transform: translate(-3px, 0);
  }
  92%,
  96% {
    transform: translate(3px, 0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
