@use "../../styling/colors.scss" as colors;
@use "../../styling/color_utils.scss" as color_utils;
@use "../../styling/colors_fifa.scss" as colors_fifa;

@import "../../styling/alignments.scss";
@import "../../styling/font-sizes.scss";
@import "../../styling/global.scss";
@import "../../styling/margins.scss";
@import "../../styling/paddings.scss";

.target {
  display: inline-block;
}

.tooltip {
  @include font-sized(s);
  @include padded(all, s);

  border-radius: $border-radius;
  border-bottom-left-radius: 0;
  color: colors.$white;
  z-index: 10;

  &Neutral {
    background-color: rgba(colors.$grey5, 0.7);
  }

  &Success {
    background-color: rgba(colors.$mint, 0.7);
  }

  &Error {
    background-color: rgba(colors_fifa.$qatar-red, 0.7);
  }

  &::after {
    bottom: 100%; /* At the bottom of the tooltip */
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent colors.$grey4 transparent;
    content: " ";
    left: 50%;
    margin-left: -5px;
    position: absolute;
  }
}
